html {
    background-image: url("Sannur_Cave.jpg");
    background-color: #cccccc;

}

h1 {
    color: cyan;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 40px;
}

h2 {color: white;
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 15px;
    font-size: 30px;
}

.navbar {
    overflow: hidden;
    background-color: inherit;
}

.navbar a {
    float: center;
    text-align: center;
    text-decoration: none;
}

.btn {
    color: silver;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 14px 45px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    background-color: inherit;
}

.btn:hover {
    color: white;
    background-color: cyan;
}

.myActive {
    color: white;
    background-color: cyan;
}

p {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}